<!DOCTYPE html>
<html>
<head>
  <title>Trevie's Tellies</title>
  <link rel="icon" href="/assets/icons/icon_cropped.jpg" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li id="nav_image"><img src="/assets/icons/icon_cropped.jpg" alt="Trevie's face"></li>
      <li><h1>Trevie's Tellies</h1></li>
      <li><a href="/">Home</a></li>
      <li><a href="/televisions/new">Add model</a></li>

    </ul>
  </nav>

  <%= yield %>
</body>
</html>