body {
  background-color: #FFFFFF;
  font-family: HelveticaNeue-Light, sans-serif;
  margin: 0px;
}

nav {
  text-align: left;
  color: #FFFFFF;
}

nav a {
  color: #ffffff;
  text-decoration: none;

}

nav ul {
  padding-left: 10px;
  background-color: #231F20;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin: 0px 30px 0px 0px;
  vertical-align: middle;
}

nav ul li h1 {
  font-size: 2.5em;
  font-weight: lighter;
}

#nav_image {
  margin-right: 5px;
}

#general_wrapper {
  margin: 5px 10px 0px 10px;
  width: 66%;
  align-self: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #BBBBBB;
}

#general_wrapper_heading {
  text-align: left;
  background-color: #231F20;
  margin-top: 0px;
  padding: 5px 0px 5px 0px;
}

#general_wrapper_heading h1 {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  color: #ffffff;
  font-weight: lighter;
}

#stock_number_input {
  margin-left: 7px;
}

#submit_button_wrapper {
  text-align: left;
  margin-left: 105px;
  margin-bottom: 15px;
  margin-top: 10px
}

.new_form_label {
  display: block;
  text-align: left;
  margin: 10px 0px 10px 15px;
}

.new_form_label select {
  margin-left: 12px;
}

.delete_button {
  border: 0px solid #ffffff;
  background-color: #231f20;
  color: #ffffff;
  border-radius: 7%
}

table {
  width: 90%;
}