<div class="general_wrapper" id="new_customer">
  <div class="general_wrapper_heading">
    <h1> New Customer </h1>
  </div>
  
  <form action='/customers' method='post'>

    <label class="new_form_label">
      First Name:
      <input type="text" name="first_name" class="customer_name_input">
    </label>

    <label class="new_form_label">
      Last Name:
      <input type="text" name="last_name" class="customer_name_input">
    </label>

    <label class="new_form_label">
      Contact No:
      <input type="text" name="contact_no">
    </label>

    <div class="submit_button_wrapper">
      <input type="submit" value="Add customer" class="submit_button">
    </div>

  </form>

</div>